<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <button (click)="handleAddDate()" class="btn btn-primary btn-block">
    + New
  </button>
  <br />
  <button
    type="button"
    (click)="currentDate(dates)"
    *ngFor="let dates of dates"
    class="btn btn-info btn-lg btn-block"
    active
  >
    {{ dates }}
  </button>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>
</div>
