<p class="text-white">Add Task for {{currentDate}}</p>
<div *ngIf="currentDate" class="input-group mb-3 w-100">
    <input type="text" name="todo" placeholder="Add Todo" class="form-control" [(ngModel)] = "todoTitle"/>
    <div class="input-group-attend">
        <button (click)="handleAdd()" class="btn btn-primary" >Add todo</button>
    </div>
</div>
<div *ngIf="!currentDate" class="input-group mb-3 w-100">
    <div id="main">
        <button class="btn btn-primary" onclick="openNav()">&#9776; Choose Date</button>
      </div>
</div>